openapi: 3.1.0
info:
  title: EPM Tool
  version: '1.0'
servers:
- url: https://epm-tool.com
  description: Production server
paths:
  /health/ping:
    get:
      description: Check if the server is alive and running
      operationId: getHealthPing
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
  /api/PURCHASE_ORDER_COUNT_BY_SUPPLIER:
    get:
      description: PURCHASE_ORDER_COUNT_BY_SUPPLIER
      operationId: getApiPurchase_order_count_by_supplier
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: integer
          format: int32
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: 'Supplier name. You must use an exact match. If the user provides
          a supplier name, you should first search the DIM_S2P_SUPPLIER table which
          supports fuzzy match to determine the correct name before attempting a search
          here. '
        required: false
        schema:
          type: string
      - name: NUMBER_OF_PURCHASE_ORDERS
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: YEAR
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MONTH
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: START_DATE
        in: query
        description: ISO 8601 extended date format to indicate the start date
        required: false
        schema:
          type: string
      - name: END_DATE
        in: query
        description: ISO 8601 extended date format to indicate the end date
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseOrderCount_PersistedField'
        '400':
          description: 'Invalid value for: query parameter SK_SUPPLIER_NUMBER, Invalid
            value for: query parameter NUMBER_OF_PURCHASE_ORDERS, Invalid value for:
            query parameter YEAR, Invalid value for: query parameter MONTH, Invalid
            value for: query parameter limit, Invalid value for: query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/DIM_S2P_SUPPLIER:
    get:
      description: DIM_S2P_SUPPLIER
      operationId: getApiDim_s2p_supplier
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: VENDOR_LEAD_CLIENT_NUMBER
        in: query
        description: Supplier's 10 digit VLC number
        required: false
        schema:
          type: string
      - name: SUPPLIER_NUMBER
        in: query
        description: Legacy supplier ID (VLC)
        required: false
        schema:
          type: string
      - name: SUPPLIER_MANAGEMENT_NUMBER
        in: query
        description: Ariba Supplier Management ID
        required: false
        schema:
          type: string
      - name: SUPPLIER_ERP_NUMBER
        in: query
        description: Ariba ERP module supplier number
        required: false
        schema:
          type: string
      - name: SUPPLIER_ARIBA_NETWORK_NUMBER
        in: query
        description: Ariba Network ID
        required: false
        schema:
          type: string
      - name: SUPPLIER_ARIBA_CONTRACT_MANAGEMENT_NUMBER
        in: query
        description: Ariba Contract Management ID
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_BRANCH_NUMBER
        in: query
        description: DUNS branch number
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_DOMESTIC_NUMBER
        in: query
        description: DUNS domestic ultimate number
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: The suppliers primary name. Providing a value beginning or ending
          with the % will initialize a fuzzy match, otherwise an exact match will
          be used in an attempt to resolve the query.
        required: false
        schema:
          type: string
      - name: SUPPLIER_ADDRESS_COUNTRY_CODE
        in: query
        description: Two character country ISO code from the supplier address
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DIM_S2P_SUPPLIER_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SUPPLIER_SPEND:
    get:
      description: SUPPLIER_SPEND
      operationId: getApiSupplier_spend
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: 'Supplier name. You must use an exact match. If the user provides
          a supplier name, you should first search the DIM_S2P_SUPPLIER table which
          supports fuzzy match to determine the correct name before attempting a search
          here. '
        required: false
        schema:
          type: string
      - name: YEAR
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierSpend_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /:
    get:
      description: Return the web chat interface
      operationId: get
      responses:
        '200':
          description: ''
          content:
            text/html:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_HEADER_SUMMARY:
    get:
      description: PO_HEADER_SUMMARY
      operationId: getApiPo_header_summary
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POHeaderSummary_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_ITEM_DETAILS:
    get:
      description: PO_ITEM_DETAILS
      operationId: getApiPo_item_details
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POItemDetails_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_SUMMARY_REPORT:
    get:
      description: PO_SUMMARY_REPORT
      operationId: getApiPo_summary_report
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POSummaryReport_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_PAYMENT_STATUS:
    get:
      description: PO_PAYMENT_STATUS
      operationId: getApiPo_payment_status
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: The PO NUMBER must be provided. If not provided we will attempt
          to surface POs but the query may time out.
        required: false
        schema:
          type: string
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: 'Supplier name. You must use an exact match. If the user provides
          a supplier name, you should first search the DIM_S2P_SUPPLIER table which
          supports fuzzy match to determine the correct name before attempting a search
          here. '
        required: false
        schema:
          type: string
      - name: INVOICE_YEAR
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: INVOICE_MONTH
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: INVOICE_START_DATE
        in: query
        required: false
        schema:
          type: string
      - name: INVOICE_END_DATE
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POPaymentStatus_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_TO_INVOICE_LINKAGE:
    get:
      description: PO_TO_INVOICE_LINKAGE
      operationId: getApiPo_to_invoice_linkage
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POToInvoiceLinkage_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_APPROVAL_REQUISITION_BASED:
    get:
      description: PO_APPROVAL_REQUISITION_BASED
      operationId: getApiPo_approval_requisition_based
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/POApprovalRequisitionBased_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/NUMBER_OF_POS_WITH_OPEN_INVOICES:
    get:
      description: NUMBER_OF_POS_WITH_OPEN_INVOICES
      operationId: getApiNumber_of_pos_with_open_invoices
      parameters:
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NumberOfPOsWithOpenInvoices_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/INVOICE_STATUS_AND_AMOUNT:
    get:
      description: INVOICE_STATUS_AND_AMOUNT
      operationId: getApiInvoice_status_and_amount
      parameters:
      - name: SK_S2P_SUPPLIER_INVOICE
        in: query
        description: Surrogate key for the invoice
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_INVOICE_DOCUMENT_NUMBER
        in: query
        description: The internal invoice number used by IBM to identify the invoice
        required: false
        schema:
          type: string
      - name: SUPPLIER_INVOICE_NUMBER
        in: query
        description: The invoice number provided by the supplier to IBM to identify
          the invoice
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceStatusAndAmount_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/INVOICE_SPEND_CATEGORIES_AND_PO:
    get:
      description: INVOICE_SPEND_CATEGORIES_AND_PO
      operationId: getApiInvoice_spend_categories_and_po
      parameters:
      - name: SK_S2P_SUPPLIER_INVOICE
        in: query
        description: Surrogate key for the invoice
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_INVOICE_DOCUMENT_NUMBER
        in: query
        description: The internal invoice number used by IBM to identify the invoice
        required: false
        schema:
          type: string
      - name: SUPPLIER_INVOICE_NUMBER
        in: query
        description: The invoice number provided by the supplier to IBM to identify
          the invoice
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceSpendCategoriesAndPO_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/PO_REQUESTER:
    get:
      description: PO_REQUESTER
      operationId: getApiPo_requester
      parameters:
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PORequester_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/INVOICES_AND_SPEND:
    get:
      description: Use this endpoint to search and browse invoices
      operationId: getApiInvoices_and_spend
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SK_S2P_SUPPLIER_INVOICE
        in: query
        description: Surrogate key for the invoice
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_INVOICE_DOCUMENT_NUMBER
        in: query
        description: The internal invoice number used by IBM to identify the invoice
        required: false
        schema:
          type: string
      - name: SUPPLIER_INVOICE_NUMBER
        in: query
        description: The invoice number provided by the supplier to IBM to identify
          the invoice
        required: false
        schema:
          type: string
      - name: MONTH_NUMBER
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: YEAR_NUMBER
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierInvoicesAndSpend_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SPEND_BY_CATEGORY:
    get:
      description: SPEND_BY_CATEGORY
      operationId: getApiSpend_by_category
      parameters:
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpendByCategory_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SUPPLIERS_WITH_FULLY_INVOICED_POS:
    get:
      description: SUPPLIERS_WITH_FULLY_INVOICED_POS
      operationId: getApiSuppliers_with_fully_invoiced_pos
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: DAYS_AGO
        in: query
        description: Filter to suppliers with fully invoiced POs within the last N
          days
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuppliersWithFullyInvoicedPOs_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/NON_PO_INVOICES_FOR_YEAR:
    get:
      description: NON_PO_INVOICES_FOR_YEAR
      operationId: getApiNon_po_invoices_for_year
      parameters:
      - name: SK_S2P_SUPPLIER_INVOICE
        in: query
        description: Surrogate key for the invoice
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_INVOICE_DOCUMENT_NUMBER
        in: query
        description: The internal invoice number used by IBM to identify the invoice
        required: false
        schema:
          type: string
      - name: SUPPLIER_INVOICE_NUMBER
        in: query
        description: The invoice number provided by the supplier to IBM to identify
          the invoice
        required: false
        schema:
          type: string
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: YEAR_NUMBER
        in: query
        description: Filter by year
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NonPoInvoicesForYear_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/feedback:
    get:
      description: Submit feedback
      operationId: getApiFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackSubmissionPayload'
        required: true
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/feedback/initialize:
    get:
      description: initalize feedback service
      operationId: getApiFeedbackInitialize
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/ROLLING_SUPPLIER_SPEND:
    get:
      description: ROLLING_SUPPLIER_SPEND
      operationId: getApiRolling_supplier_spend
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: 'Supplier name. You must use an exact match. If the user provides
          a supplier name, you should first search the DIM_S2P_SUPPLIER table which
          supports fuzzy match to determine the correct name before attempting a search
          here. '
        required: false
        schema:
          type: string
      - name: DAYS_AGO
        in: query
        description: Filter to invoices within the last N days
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RollingSupplierSpend_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/POS_BY_SUPPLIER:
    get:
      description: POS_BY_SUPPLIER
      operationId: getApiPos_by_supplier
      parameters:
      - name: SK_SUPPLIER_NUMBER
        in: query
        description: Surrogate key for the supplier
        required: false
        schema:
          type: integer
          format: int32
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique supplier identifier (VLC/CAAPS/SM ID)
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_ENTITY_NUMBER
        in: query
        description: DUNS entity number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_DUNNS_GLOBAL_NUMBER
        in: query
        description: DUNS global ultimate number for the supplier
        required: false
        schema:
          type: string
      - name: SUPPLIER_NAME1
        in: query
        description: 'Supplier name. You must use an exact match. If the user provides
          a supplier name, you should first search the DIM_S2P_SUPPLIER table which
          supports fuzzy match to determine the correct name before attempting a search
          here. '
        required: false
        schema:
          type: string
      - name: SK_S2P_SUPPLIER_PURCHASE_ORDER
        in: query
        description: Surrogate key for the purchase order
        required: false
        schema:
          type: integer
          format: int32
      - name: SUPPLIER_PURCHASE_ORDER_NUMBER
        in: query
        description: Purchase order number
        required: false
        schema:
          type: string
      - name: YEAR
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MONTH
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: START_DATE
        in: query
        description: ISO 8601 extended date format to indicate the start date
        required: false
        schema:
          type: string
      - name: END_DATE
        in: query
        description: ISO 8601 extended date format to indicate the end date
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PoBySupplier_PersistedField'
        '400':
          description: 'Invalid value for: query parameter SK_SUPPLIER_NUMBER, Invalid
            value for: query parameter SK_S2P_SUPPLIER_PURCHASE_ORDER, Invalid value
            for: query parameter YEAR, Invalid value for: query parameter MONTH, Invalid
            value for: query parameter limit, Invalid value for: query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SEARCH_BY_SUPPLIER_INVOICE:
    get:
      description: 'Use this endpoint to get the internal IBM Invoice Number from
        a supplier invoice number or vice-versa '
      operationId: getApiSearch_by_supplier_invoice
      parameters:
      - name: SK_S2P_SUPPLIER_INVOICE
        in: query
        description: Surrogate key for the invoice
        required: false
        schema:
          type: array
          items:
            type: string
      - name: SUPPLIER_INVOICE_DOCUMENT_NUMBER
        in: query
        description: The invoice number used internally by IBM to identify this invoice
        required: false
        schema:
          type: string
      - name: SUPPLIER_INVOICE_NUMBER
        in: query
        description: The invoice number provided by the supplier to IBM to identify
          the invoice
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchBySupplierInvoice_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/what_time_is_it:
    get:
      description: 'Use this so that you know what time it is. When a user asks questions
        that use relative time, eg: ''Show me POs from last week'' or ''Show me invoices
        from last year'', use this tool first to get the current time, then calculate
        the correct time based on it. '
      operationId: getApiWhat_time_is_it
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentTime'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/supplierSearch:
    get:
      description: Use this endpoint to match a users requested supplier name with
        its actual name and id in the database. This endpoint uses a trigram FTS which
        will help you match the users requested supplier with the name as it appears
        in the database.
      operationId: getApiSuppliersearch
      parameters:
      - name: supplierName
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Supplier_PersistedField'
        '400':
          description: 'Invalid value for: query parameter supplierName, Invalid value
            for: query parameter limit'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SUPPLIER_HIERARCHY:
    get:
      description: Use this endpoint to ascend a suppliers hierarchy to find parent
        companies.
      operationId: getApiSupplier_hierarchy
      parameters:
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique identifier for the supplier
        required: false
        schema:
          type: string
      - name: HIERARCHY_LEVEL
        in: query
        description: Level in corporate hierarchy (0=entity, higher=parent). This
          must be provided to control recusion depth. Start with 2 and gradually increase.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierHierarchy_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
  /api/SUPPLIER_SUBSIDIARIES:
    get:
      description: Use this endpoint to descend a suppliers hierarchy to find subsidiary
        companies.
      operationId: getApiSupplier_subsidiaries
      parameters:
      - name: SUPPLIER_UNIQUE_NUMBER
        in: query
        description: Unique identifier for the supplier
        required: false
        schema:
          type: string
      - name: HIERARCHY_LEVEL
        in: query
        description: Level in corporate hierarchy (0=entity, higher=parent). This
          must be provided to control the depth of recursion. Start with 2 and increase
          to search more deeply in the tree.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierSubsidiaries_PersistedField'
        '400':
          description: 'Invalid value for: query parameter limit, Invalid value for:
            query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
components:
  schemas:
    ApiError:
      title: ApiError
      type: object
      required:
      - message
      properties:
        message:
          type: string
    CurrentTime:
      title: CurrentTime
      type: object
      required:
      - time
      properties:
        time:
          type: string
    DIM_S2P_SUPPLIER_PersistedField:
      title: DIM_S2P_SUPPLIER_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - VENDOR_LEAD_CLIENT_NUMBER
      - SUPPLIER_MANAGEMENT_NUMBER
      - SUPPLIER_ERP_NUMBER
      - SUPPLIER_ARIBA_NETWORK_NUMBER
      - SUPPLIER_ARIBA_CONTRACT_MANAGEMENT_NUMBER
      - SUPPLIER_NUMBER
      - SUPPLIER_NAME1
      - SUPPLIER_NAME2
      - SUPPLIER_NAME3
      - SUPPLIER_NAME4
      - SUPPLIER_ADDRESS_STREET
      - SUPPLIER_ADDRESS_REGION_CODE
      - SUPPLIER_ADDRESS_DISTRICT_NAME
      - SUPPLIER_ADDRESS_CITY
      - SUPPLIER_ADDRESS_COUNTRY_CODE
      - SUPPLIER_ADDRESS_ZIP_CODE
      - SUPPLIER_VAT_REGISTRATION_NUMBER
      - SUPPLIER_CENTRAL_POSTING_BLOCK_CODE
      - SUPPLIER_CENTRAL_PURCHASING_BLOCK_CODE
      - SUPPLIER_SEGMENTATION_CODE
      - SUPPLIER_RECORD_CREATION_DATE
      - SUPPLIER_DELETE_FLAG
      - SUPPLIER_RECORD_SOURCE_SYSTEM
      - SUPPLIER_MASTER_DATA_EXTRACT_TIME
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_BRANCH_NUMBER
      - SUPPLIER_DUNNS_DOMESTIC_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_CONTACT_NAME
      - SUPPLIER_CONTACT_PHONE
      - SUPPLIER_CONTACT_EMAIL
      - SUPPLIER_MASTER_RECORD_CREATION_DATE
      - SUPPLIER_ADDRESS_VERIFICATION_DATE
      - SUPPLIER_PO_BOX
      - SUPPLIER_PO_BOX_ZIP_CODE
      - SUPPLIER_IBM_AFFILIATE_FLAG
      - SUPPLIER_IN_USE_FLAG
      - SUPPLIER_SOLE_PROPRIETOR_FLAG
      - SUPPLIER_SUBCONTRACTOR_FLAG
      - SHARED_SUPPLIER_FLAG
      - SK_SUPPLIER_MASTER_RECORD_CREATION_DATE
      - SK_SUPPLIER_ADDRESS_VERIFICATION_DATE
      - SK_SUPPLIER_BANK
      - SK_SUPPLIER_ADDRESS_COUNTRY_CODE
      - SK_SUPPLIER_RECORD_CREATION_DATE
      - SK_SUPPLIER_RECORD_SOURCE_SYSTEM
      - SK_SUPPLIER_MANAGEMENT_NUMBER
      - SK_SUPPLIER_ERP_NUMBER
      - SK_ARIBA_NETWORK_NUMBER
      - SK_SUPPLIER_CONTRACT_MANAGEMENT_NUMBER
      - SK_S2P_SUPPLIER_HIERARCHY
      - SK_SUPPLIER_ENTITY_DUNS_ID
      - SK_LAST_RECORD_CHANGE_DATE
      - AUDIT_TIMESTAMP
      properties:
        SK_SUPPLIER_NUMBER:
          description: Autoincrementing integer primary key
          type: string
        SUPPLIER_UNIQUE_NUMBER:
          description: This id uniquely identifies the supplier in the table and across
            systems. VLC ID, if no VLC, then the CAAPS vendor ID, if the origin of
            the supplier record is buy@ibm - and no VLC for the supplier - then SM
            vendor ID
          type: string
        VENDOR_LEAD_CLIENT_NUMBER:
          description: Suppliers 10 digit VLC number, this might be the same as Supplier
            Number if the supplier does not have legacy supplier ID or can be blank
            if the supplier does not have VLC ID.
          type: string
        SUPPLIER_MANAGEMENT_NUMBER:
          description: Supplier Management ID that uniquely identifies the supplier
            in Ariba.
          type: string
        SUPPLIER_ERP_NUMBER:
          description: Supplier number used in Ariba ERP module
          type: string
        SUPPLIER_ARIBA_NETWORK_NUMBER:
          description: Supplier Ariba Network ID that uniquely identifies the supplier
            in Ariba Network
          type: string
        SUPPLIER_ARIBA_CONTRACT_MANAGEMENT_NUMBER:
          description: Supplier Contract Management ID that uniquely identifies the
            supplier in the Ariba Contract Management module.
          type: string
        SUPPLIER_NUMBER:
          description: uniquely identifies suppliers for SAP systems, called VLC,
            Vendor Lead Client,10 digits long, begins with 10, for other source system
            this might not be unique, for those to be used with country+company code
            to uniquely identify. Also known as Legacy ID
          type: string
        SUPPLIER_NAME1:
          description: Name the supplier has been registered with in IBM supplier
            onboarding systems
          type: string
        SUPPLIER_NAME2:
          description: Additional field for longer supplier names
          type: string
        SUPPLIER_NAME3:
          description: Additional field for longer supplier names
          type: string
        SUPPLIER_NAME4:
          description: Additional field for longer supplier names
          type: string
        SUPPLIER_ADDRESS_STREET:
          description: Street name from the supplier address
          type: string
        SUPPLIER_ADDRESS_REGION_CODE:
          description: Region code from the supplier address
          type: string
        SUPPLIER_ADDRESS_DISTRICT_NAME:
          description: District name from the supplier address
          type: string
        SUPPLIER_ADDRESS_CITY:
          description: City name from the supplier address
          type: string
        SUPPLIER_ADDRESS_COUNTRY_CODE:
          description: Two character country ISO code from the supplier address
          type: string
        SUPPLIER_ADDRESS_ZIP_CODE:
          description: ZIP code from the supplier address
          type: string
        SUPPLIER_VAT_REGISTRATION_NUMBER:
          description: VAT registration number the supplier provided
          type: string
        SUPPLIER_CENTRAL_POSTING_BLOCK_CODE:
          description: 'Supplier posting block is Y if no invoices can be posted,
            booked for the supplier regardless the country, company, flag is set centrally
            and is applicable to all lower levels in the company hierarchy. Value
            is N if invoices can booked, posted. '
          type: string
        SUPPLIER_CENTRAL_PURCHASING_BLOCK_CODE:
          description: Supplier purchasing block is Y if no purchase orders can be
            created for the supplier regardless the country, company, purchasing organization,Flag
            is N if purchase orders can be created for the supplier
          type: string
        SUPPLIER_SEGMENTATION_CODE:
          description: Sunset process for supplier classification
          type: string
        SUPPLIER_RECORD_CREATION_DATE:
          description: 'Create date for the supplier record.  If unavailabe then it
            is set to 2222-02-22. Source system logic: If LFA1-ERDATE = blank or 00000000,
            then use past date 1900-06-04.  Format = yyyy-mm-dd'
          type: string
          format: date-time
        SUPPLIER_DELETE_FLAG:
          description: 'Central deletion flag is set to Y if the supplier cannot be
            used for any activity. Source system logic: LFA1-LOEVM where if value
            = X then populate with Y, else N'
          type: string
        SUPPLIER_RECORD_SOURCE_SYSTEM:
          description: Representing where the supplier master record is originating
            from. Typically it is SAPGP0100, however, there are some legacy systems
            not integrated into the general supplier master data management process.
          type: string
        SUPPLIER_MASTER_DATA_EXTRACT_TIME:
          description: Date and time when the record was extracted from BDW to SM2K.
          type: string
          format: date-time
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          description: Dun and Bradstreet identifier for the Supplier legal entity
          type: string
        SUPPLIER_DUNNS_BRANCH_NUMBER:
          description: Dun and Bradstreet identifier for the Supplier legal entitys
            branch
          type: string
        SUPPLIER_DUNNS_DOMESTIC_NUMBER:
          description: Dun and Bradstreet identifier for the Supplier legal entitys
            domestic ultimate
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          description: Dun and Bradstreet identifier for the Supplier legal entitys
            global ultimate
          type: string
        SUPPLIER_CONTACT_NAME:
          description: Employee name at the supplier side who is the main contact
          type: string
        SUPPLIER_CONTACT_PHONE:
          description: Main Contacts phone number
          type: string
        SUPPLIER_CONTACT_EMAIL:
          description: Main contacts email address
          type: string
        SUPPLIER_MASTER_RECORD_CREATION_DATE:
          description: The first time the suppler record was created in the supplier
            master
          type: string
          format: date-time
        SUPPLIER_ADDRESS_VERIFICATION_DATE:
          description: last time the supplier address was verified
          type: string
          format: date-time
        SUPPLIER_PO_BOX:
          description: Supplier PO Box if any
          type: string
        SUPPLIER_PO_BOX_ZIP_CODE:
          description: Supplier Zip code belonging to the PO box
          type: string
        SUPPLIER_IBM_AFFILIATE_FLAG:
          description: Showing is the supplier is owned by IBM
          type: string
        SUPPLIER_IN_USE_FLAG:
          description: Showing if the supplier entity has PO, Invoice, Contract, soursing
            event activity
          type: string
        SUPPLIER_SOLE_PROPRIETOR_FLAG:
          description: Natural Person Flag from MDG
          type: string
        SUPPLIER_SUBCONTRACTOR_FLAG:
          description: Subcontractor flag from SAP Standard Industry System = 01
          type: string
        SHARED_SUPPLIER_FLAG:
          description: Flag to indicate suppliers that work with Redhat and IBM as
            well.
          type: string
        SK_SUPPLIER_MASTER_RECORD_CREATION_DATE:
          description: The first time the suppler record was created in the supplier
            master
          type: integer
          format: int32
        SK_SUPPLIER_ADDRESS_VERIFICATION_DATE:
          description: last time the supplier address was verified
          type: integer
          format: int32
        SK_SUPPLIER_BANK:
          description: Connection to the future Enterprise bank dimension
          type: integer
          format: int32
        SK_SUPPLIER_ADDRESS_COUNTRY_CODE:
          description: SK To GEO dim via 2-digi ISO country code
          type: integer
          format: int32
        SK_SUPPLIER_RECORD_CREATION_DATE:
          description: sk to Create date for the supplier record.  If unavailabe then
            it is set to 2222-02-22.
          type: integer
          format: int32
        SK_SUPPLIER_RECORD_SOURCE_SYSTEM:
          description: sk to Representing where the supplier master record is originating
            from. Typically it is SAPGP0100, however, there are some legacy systems
            not integrated into the general supplier master data management process.
          type: integer
          format: int32
        SK_SUPPLIER_MANAGEMENT_NUMBER:
          description: sk to Supplier Management ID that uniquely identifies the supplier
            in Ariba
          type: integer
          format: int32
        SK_SUPPLIER_ERP_NUMBER:
          description: sk to Supplier number used in Ariba ERP module
          type: integer
          format: int32
        SK_ARIBA_NETWORK_NUMBER:
          description: sk to Supplier Ariba Network ID that uniquely identifies the
            supplier in Ariba Network
          type: integer
          format: int32
        SK_SUPPLIER_CONTRACT_MANAGEMENT_NUMBER:
          description: sk to Supplier Contract Management ID that uniquely identifies
            the supplier in the Ariba Contract Management module.
          type: integer
          format: int32
        SK_S2P_SUPPLIER_HIERARCHY:
          description: Sk to parent name in respective dimension - e.g. defines all
            Lenovo entities under the parent name LENOVO
          type: integer
          format: int32
        SK_SUPPLIER_ENTITY_DUNS_ID:
          description: Sk to EPM duns dimension
          type: integer
          format: int32
        SK_LAST_RECORD_CHANGE_DATE:
          description: When the anything on the record was changed
          type: integer
          format: int32
        AUDIT_TIMESTAMP:
          description: Date and time when the record was loaded to EPM
          type: string
          format: date-time
    FeedbackSubmissionPayload:
      title: FeedbackSubmissionPayload
      type: object
      required:
      - userName
      - userId
      - timestamp
      - summary
      properties:
        userName:
          type: string
        userId:
          type: string
        timestamp:
          type: string
          format: date-time
        questions:
          type: array
          items:
            $ref: '#/components/schemas/QuestionFeedbackDetailRequest'
        notes:
          type: string
        summary:
          $ref: '#/components/schemas/FeedbackSummary'
    FeedbackSummary:
      title: FeedbackSummary
      type: object
      required:
      - passed
      - failed
      - untested
      properties:
        passed:
          type: integer
          format: int32
        failed:
          type: integer
          format: int32
        untested:
          type: integer
          format: int32
    InvoiceSpendCategoriesAndPO_PersistedField:
      title: InvoiceSpendCategoriesAndPO_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_INVOICE
      - SUPPLIER_INVOICE_DOCUMENT_NUMBER
      - SUPPLIER_INVOICE_NUMBER
      - COMMODITY_CATEGORIES
      - UNSPSC_CATEGORIES
      - ATTACHED_PO_NUMBERS
      properties:
        SK_S2P_SUPPLIER_INVOICE:
          type: integer
          format: int32
        SUPPLIER_INVOICE_DOCUMENT_NUMBER:
          type: string
        SUPPLIER_INVOICE_NUMBER:
          type: string
        COMMODITY_CATEGORIES:
          type: string
        UNSPSC_CATEGORIES:
          type: string
        ATTACHED_PO_NUMBERS:
          type: string
    InvoiceStatusAndAmount_PersistedField:
      title: InvoiceStatusAndAmount_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_INVOICE
      - SUPPLIER_INVOICE_DOCUMENT_NUMBER
      - SUPPLIER_INVOICE_NUMBER
      - SUPPLIER_INVOICE_STATUS_CODE
      - SUPPLIER_INVOICE_STATUS_DESCRIPTION
      - INVOICE_TOP_LEVEL_STATUS
      - IS_CANCELED
      - IS_REJECTED
      - IS_ON_HOLD
      - IS_BLOCKED
      - LOCAL_CURRENCY_NET_AMOUNT
      - LOCAL_CURRENCY_GROSS_AMOUNT
      - DOCUMENT_CURRENCY_NET_AMOUNT
      - DOCUMENT_CURRENCY_GROSS_AMOUNT
      - REPORTING_CURRENCY_NET_AMOUNT
      - REPORTING_CURRENCY_GROSS_AMOUNT
      - PLAN_CURRENCY_NET_AMOUNT
      - PLAN_CURRENCY_GROSS_AMOUNT
      - LOCAL_CURRENCY_CODE
      - DOCUMENT_CURRENCY_CODE
      - REPORTING_CURRENCY_CODE
      - PLAN_CURRENCY_CODE
      - LOCAL_CURRENCY_NAME
      - DOCUMENT_CURRENCY_NAME
      - REPORTING_CURRENCY_NAME
      - PLAN_CURRENCY_NAME
      - PLAN_TO_LOCAL_EXCHANGE_RATE
      - REPORTING_TO_LOCAL_EXCHANGE_RATE
      - DOCUMENT_TO_LOCAL_EXCHANGE_RATE
      properties:
        SK_S2P_SUPPLIER_INVOICE:
          type: integer
          format: int32
        SUPPLIER_INVOICE_DOCUMENT_NUMBER:
          type: string
        SUPPLIER_INVOICE_NUMBER:
          type: string
        SUPPLIER_INVOICE_STATUS_CODE:
          type: string
        SUPPLIER_INVOICE_STATUS_DESCRIPTION:
          type: string
        INVOICE_TOP_LEVEL_STATUS:
          type: string
        IS_CANCELED:
          type: string
        IS_REJECTED:
          type: string
        IS_ON_HOLD:
          type: string
        IS_BLOCKED:
          type: string
        LOCAL_CURRENCY_NET_AMOUNT:
          type: number
        LOCAL_CURRENCY_GROSS_AMOUNT:
          type: number
        DOCUMENT_CURRENCY_NET_AMOUNT:
          type: number
        DOCUMENT_CURRENCY_GROSS_AMOUNT:
          type: number
        REPORTING_CURRENCY_NET_AMOUNT:
          type: number
        REPORTING_CURRENCY_GROSS_AMOUNT:
          type: number
        PLAN_CURRENCY_NET_AMOUNT:
          type: number
        PLAN_CURRENCY_GROSS_AMOUNT:
          type: number
        LOCAL_CURRENCY_CODE:
          type: string
        DOCUMENT_CURRENCY_CODE:
          type: string
        REPORTING_CURRENCY_CODE:
          type: string
        PLAN_CURRENCY_CODE:
          type: string
        LOCAL_CURRENCY_NAME:
          type: string
        DOCUMENT_CURRENCY_NAME:
          type: string
        REPORTING_CURRENCY_NAME:
          type: string
        PLAN_CURRENCY_NAME:
          type: string
        PLAN_TO_LOCAL_EXCHANGE_RATE:
          type: number
        REPORTING_TO_LOCAL_EXCHANGE_RATE:
          type: number
        DOCUMENT_TO_LOCAL_EXCHANGE_RATE:
          type: number
    NonPoInvoicesForYear_PersistedField:
      title: NonPoInvoicesForYear_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_INVOICE
      - SUPPLIER_INVOICE_DOCUMENT_NUMBER
      - SUPPLIER_INVOICE_NUMBER
      - SUPPLIER_INVOICE_SUPPLIER_DATE
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_NAME1
      - YEAR_NUMBER
      - LOCAL_CURRENCY_NET_AMOUNT
      properties:
        SK_S2P_SUPPLIER_INVOICE:
          type: integer
          format: int32
        SUPPLIER_INVOICE_DOCUMENT_NUMBER:
          type: string
        SUPPLIER_INVOICE_NUMBER:
          type: string
        SUPPLIER_INVOICE_SUPPLIER_DATE:
          type: string
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        YEAR_NUMBER:
          type: string
        LOCAL_CURRENCY_NET_AMOUNT:
          type: number
    NumberOfPOsWithOpenInvoices_PersistedField:
      title: NumberOfPOsWithOpenInvoices_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - NUMBER_OF_POS_WITH_OPEN_INVOICES
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        NUMBER_OF_POS_WITH_OPEN_INVOICES:
          type: integer
          format: int64
    POApprovalRequisitionBased_PersistedField:
      title: POApprovalRequisitionBased_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - REQUISITION_APPROVERS
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        REQUISITION_APPROVERS:
          type: string
    POHeaderSummary_PersistedField:
      title: POHeaderSummary_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - SUPPLIER_PURCHASE_ORDER_HANDSFREE_FLAG
      - SUPPLIER_PURCHASE_ORDER_SERVICES_LINKED_ORDER_CODE
      - SUPPLIER_PURCHASE_ORDER_BLANKET_RELEASE_NUMBER
      - SUPPLIER_PURCHASE_ORDER_ISSUE_DATE
      - SUPPLIER_PURCHASE_ORDER_RELEASE_INDICATOR
      - PURCHASE_ORDER_CLOSURE_STATUSES
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        SUPPLIER_PURCHASE_ORDER_HANDSFREE_FLAG:
          type: string
        SUPPLIER_PURCHASE_ORDER_SERVICES_LINKED_ORDER_CODE:
          type: string
        SUPPLIER_PURCHASE_ORDER_BLANKET_RELEASE_NUMBER:
          type: string
        SUPPLIER_PURCHASE_ORDER_ISSUE_DATE:
          type: string
        SUPPLIER_PURCHASE_ORDER_RELEASE_INDICATOR:
          type: string
        PURCHASE_ORDER_CLOSURE_STATUSES:
          type: string
    POItemDetails_PersistedField:
      title: POItemDetails_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - NUMBER_OF_LINE_ITEMS
      - COST_CENTERS
      - REQUESTERS
      - REQUISITION_NUMBERS
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        NUMBER_OF_LINE_ITEMS:
          type: integer
          format: int64
        COST_CENTERS:
          type: string
        REQUESTERS:
          type: string
        REQUISITION_NUMBERS:
          type: string
    POPaymentStatus_PersistedField:
      title: POPaymentStatus_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - TOTAL_ORDERED_AMOUNT
      - TOTAL_INVOICED_AMOUNT
      - TOTAL_PAID_AMOUNT
      - IS_FULLY_PAID
      - INVOICE_YEAR
      - INVOICE_MONTH
      - INVOICE_START_DATE
      - INVOICE_END_DATE
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - LOCAL_CURRENCY_CODE
      - LOCAL_CURRENCY_NAME
      - PLAN_CURRENCY_CODE
      - PLAN_CURRENCY_NAME
      - PLAN_EXCHANGE_RATE
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        TOTAL_ORDERED_AMOUNT:
          type: number
        TOTAL_INVOICED_AMOUNT:
          type: number
        TOTAL_PAID_AMOUNT:
          type: number
        IS_FULLY_PAID:
          type: string
        INVOICE_YEAR:
          type: integer
          format: int32
        INVOICE_MONTH:
          type: integer
          format: int32
        INVOICE_START_DATE:
          type: string
        INVOICE_END_DATE:
          type: string
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        LOCAL_CURRENCY_CODE:
          type: string
        LOCAL_CURRENCY_NAME:
          type: string
        PLAN_CURRENCY_CODE:
          type: string
        PLAN_CURRENCY_NAME:
          type: string
        PLAN_EXCHANGE_RATE:
          type: number
    PORequester_PersistedField:
      title: PORequester_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - REQUESTERS
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        REQUESTERS:
          type: string
    POSummaryReport_PersistedField:
      title: POSummaryReport_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - PURCHASING_ORGANIZATION
      - CONTRACT_NUMBER
      - PAYMENT_TERMS
      - SUPPLIER_PURCHASE_ORDER_ISSUE_DATE
      - PO_RELEASE_STATUS
      - ITEM_CLOSURE_STATUSES
      - TOTAL_ORDERED_LOCAL_CURRENCY_NET
      - TOTAL_ORDERED_REPORTING_CURRENCY_NET
      - TOTAL_ORDERED_QUANTITY
      - NUMBER_OF_LINE_ITEMS
      - COMMODITY_CODES
      - REQUESTERS
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        PURCHASING_ORGANIZATION:
          type: string
        CONTRACT_NUMBER:
          type: string
        PAYMENT_TERMS:
          type: string
        SUPPLIER_PURCHASE_ORDER_ISSUE_DATE:
          type: string
        PO_RELEASE_STATUS:
          type: string
        ITEM_CLOSURE_STATUSES:
          type: string
        TOTAL_ORDERED_LOCAL_CURRENCY_NET:
          type: number
        TOTAL_ORDERED_REPORTING_CURRENCY_NET:
          type: number
        TOTAL_ORDERED_QUANTITY:
          type: number
        NUMBER_OF_LINE_ITEMS:
          type: integer
          format: int64
        COMMODITY_CODES:
          type: string
        REQUESTERS:
          type: string
    POToInvoiceLinkage_PersistedField:
      title: POToInvoiceLinkage_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - ASSOCIATED_INVOICE_NUMBERS
      properties:
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        ASSOCIATED_INVOICE_NUMBERS:
          type: string
    PoBySupplier_PersistedField:
      title: PoBySupplier_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - SK_S2P_SUPPLIER_PURCHASE_ORDER
      - SUPPLIER_PURCHASE_ORDER_NUMBER
      - YEAR
      - MONTH
      - START_DATE
      - END_DATE
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        SK_S2P_SUPPLIER_PURCHASE_ORDER:
          type: integer
          format: int32
        SUPPLIER_PURCHASE_ORDER_NUMBER:
          type: string
        YEAR:
          type: integer
          format: int32
        MONTH:
          type: integer
          format: int32
        START_DATE:
          type: string
        END_DATE:
          type: string
    PurchaseOrderCount_PersistedField:
      title: PurchaseOrderCount_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - NUMBER_OF_PURCHASE_ORDERS
      - YEAR
      - MONTH
      - START_DATE
      - END_DATE
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        NUMBER_OF_PURCHASE_ORDERS:
          type: integer
          format: int32
        YEAR:
          type: integer
          format: int32
        MONTH:
          type: integer
          format: int32
        START_DATE:
          type: string
        END_DATE:
          type: string
    QuestionFeedbackDetailRequest:
      title: QuestionFeedbackDetailRequest
      type: object
      required:
      - text
      properties:
        text:
          type: string
        status:
          type: string
    RollingSupplierSpend_PersistedField:
      title: RollingSupplierSpend_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - DAYS_AGO
      - NET_SPEND_USD
      - GROSS_SPEND_USD
      - INVOICE_LINE_COUNT
      - LAST_INVOICE_DATE
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        DAYS_AGO:
          type: integer
          format: int32
        NET_SPEND_USD:
          type: number
        GROSS_SPEND_USD:
          type: number
        INVOICE_LINE_COUNT:
          type: integer
          format: int64
        LAST_INVOICE_DATE:
          type: string
    SearchBySupplierInvoice_PersistedField:
      title: SearchBySupplierInvoice_PersistedField
      type: object
      required:
      - SK_S2P_SUPPLIER_INVOICE
      - SUPPLIER_INVOICE_DOCUMENT_NUMBER
      - SUPPLIER_INVOICE_NUMBER
      properties:
        SK_S2P_SUPPLIER_INVOICE:
          type: integer
          format: int32
        SUPPLIER_INVOICE_DOCUMENT_NUMBER:
          type: string
        SUPPLIER_INVOICE_NUMBER:
          type: string
    SpendByCategory_PersistedField:
      title: SpendByCategory_PersistedField
      type: object
      required:
      - SK_S2P_COMMODITY_CODE
      - COMMODITY_CODE
      - COMMODITY_DESCRIPTION
      - SK_UNSPSC_CODE
      - UNSPSC_CODE
      - UNSPSC_CODE_DESCRIPTION
      - TOTAL_REPORTING_CURRENCY_NET_SPEND
      properties:
        SK_S2P_COMMODITY_CODE:
          type: integer
          format: int32
        COMMODITY_CODE:
          type: string
        COMMODITY_DESCRIPTION:
          type: string
        SK_UNSPSC_CODE:
          type: integer
          format: int32
        UNSPSC_CODE:
          type: string
        UNSPSC_CODE_DESCRIPTION:
          type: string
        TOTAL_REPORTING_CURRENCY_NET_SPEND:
          type: number
    SupplierHierarchy_PersistedField:
      title: SupplierHierarchy_PersistedField
      type: object
      required:
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_NAME1
      - HIERARCHY_LEVEL
      - DUNS_NO
      - BUSINESS_NAME
      - COUNTRY_NAME
      - EMPLOYEES
      - ENTITY_TYPE
      - HIERARCHY_PATH
      properties:
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        HIERARCHY_LEVEL:
          type: integer
          format: int32
        DUNS_NO:
          type: string
        BUSINESS_NAME:
          type: string
        COUNTRY_NAME:
          type: string
        EMPLOYEES:
          type: string
        ENTITY_TYPE:
          type: string
        HIERARCHY_PATH:
          type: string
    SupplierInvoicesAndSpend_PersistedField:
      title: SupplierInvoicesAndSpend_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - SK_S2P_SUPPLIER_INVOICE
      - SUPPLIER_INVOICE_DOCUMENT_NUMBER
      - SUPPLIER_INVOICE_NUMBER
      - SUPPLIER_INVOICE_SUPPLIER_DATE
      - MONTH_NUMBER
      - YEAR_NUMBER
      - LOCAL_CURRENCY_NET_AMOUNT
      - REPORTING_CURRENCY_NET_AMOUNT
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        SK_S2P_SUPPLIER_INVOICE:
          type: integer
          format: int32
        SUPPLIER_INVOICE_DOCUMENT_NUMBER:
          type: string
        SUPPLIER_INVOICE_NUMBER:
          type: string
        SUPPLIER_INVOICE_SUPPLIER_DATE:
          type: string
        MONTH_NUMBER:
          type: integer
          format: int32
        YEAR_NUMBER:
          type: integer
          format: int32
        LOCAL_CURRENCY_NET_AMOUNT:
          type: number
        REPORTING_CURRENCY_NET_AMOUNT:
          type: number
    SupplierSpend_PersistedField:
      title: SupplierSpend_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - YEAR
      - NET_SPEND_USD
      - GROSS_SPEND_USD
      - INVOICE_LINE_COUNT
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        YEAR:
          type: string
        NET_SPEND_USD:
          type: number
        GROSS_SPEND_USD:
          type: number
        INVOICE_LINE_COUNT:
          type: integer
          format: int64
    SupplierSubsidiaries_PersistedField:
      title: SupplierSubsidiaries_PersistedField
      type: object
      required:
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_NAME1
      - HIERARCHY_LEVEL
      - DUNS_NO
      - BUSINESS_NAME
      - COUNTRY_NAME
      - EMPLOYEES
      - ENTITY_TYPE
      properties:
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        HIERARCHY_LEVEL:
          type: integer
          format: int32
        DUNS_NO:
          type: string
        BUSINESS_NAME:
          type: string
        COUNTRY_NAME:
          type: string
        EMPLOYEES:
          type: string
        ENTITY_TYPE:
          type: string
    Supplier_PersistedField:
      title: Supplier_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_NUMBER
      - SUPPLIER_NAME1
      - SCORE
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        SCORE:
          type: number
          format: float
    SuppliersWithFullyInvoicedPOs_PersistedField:
      title: SuppliersWithFullyInvoicedPOs_PersistedField
      type: object
      required:
      - SK_SUPPLIER_NUMBER
      - SUPPLIER_UNIQUE_NUMBER
      - SUPPLIER_DUNNS_ENTITY_NUMBER
      - SUPPLIER_DUNNS_GLOBAL_NUMBER
      - SUPPLIER_NAME1
      - EARLIEST_PO_ITEM_CREATE_DATE
      - DAYS_AGO
      properties:
        SK_SUPPLIER_NUMBER:
          type: integer
          format: int32
        SUPPLIER_UNIQUE_NUMBER:
          type: string
        SUPPLIER_DUNNS_ENTITY_NUMBER:
          type: string
        SUPPLIER_DUNNS_GLOBAL_NUMBER:
          type: string
        SUPPLIER_NAME1:
          type: string
        EARLIEST_PO_ITEM_CREATE_DATE:
          type: string
        DAYS_AGO:
          type: integer
          format: int32
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: w3_auth_token
      in: cookie
    httpAuth:
      type: http
      scheme: bearer
