openapi: 3.1.0
info:
  title: EPM Tool
  version: '1.0'
servers:
- url: https://epm-tool.com
  description: Production server
paths:
  /health/ping:
    get:
      description: Check if the server is alive and running
      operationId: getHealthPing
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
  /api/users:
    get:
      description: Retrieves a list of users
      operationId: getApiUsers
      parameters:
      - name: user_id
        in: query
        description: Auto incrementing primary key that uniquely identifies a user
        required: false
        schema:
          type: integer
          format: int32
      - name: cpf_cnpj
        in: query
        description: 'Brazilian tax id. '
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: The user's name.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the result set to N records. Defaults to 10. Use this
          combined with offset to paginate results.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the result set by N records. Defaults to 0. Use this
          combined with limit to paginate results
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/users_PersistedField'
        '400':
          description: 'Invalid value for: query parameter user_id, Invalid value
            for: query parameter limit, Invalid value for: query parameter offset'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - httpAuth: []
      - apiKeyAuth: []
components:
  schemas:
    ApiError:
      title: ApiError
      type: object
      required:
      - message
      properties:
        message:
          type: string
    users_PersistedField:
      title: users_PersistedField
      type: object
      required:
      - user_id
      - cpf_cnpj
      - name
      - account_number
      - branch_number
      - account_type
      - balance
      - created_at
      - updated_at
      properties:
        user_id:
          type: integer
          format: int32
        cpf_cnpj:
          type: string
        name:
          type: string
        account_number:
          type: string
        branch_number:
          type: string
        account_type:
          type: string
        balance:
          type: number
        created_at:
          type: string
        updated_at:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: w3_auth_token
      in: cookie
    httpAuth:
      type: http
      scheme: bearer
